@tailwind base;
@tailwind components;
@tailwind utilities;
 

.section-yellow{
  background-color: #FAFD5D;
}

.section-white{
  background-color: #E2E2E2;
}

.bg-blaniw{
  background-image: url(/blaniw.png);
}

.bg-hero{
  background-image: url(/hero.png);
}

.bg-other{
  background-image: url(/other.png);
}

.bg-mongow{
  background-image: url(/mongow.png);
}

.bg-winPortfolio{
  background-image: url(/winPortfolio.png);
}

.links-hover:hover{
  color: white;
  background-color: transparent;
  border: solid 2px white;
}